<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Firework_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,362},{176,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,142}}</string>
				<key>sourceSize</key>
				<string>{176,142}</string>
			</dict>

			<key>Firework_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,0},{195,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,142}}</string>
				<key>sourceSize</key>
				<string>{195,142}</string>
			</dict>

			<key>Firework_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,572},{183,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,142}}</string>
				<key>sourceSize</key>
				<string>{183,142}</string>
			</dict>

			<key>Firework_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,0},{186,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,142}}</string>
				<key>sourceSize</key>
				<string>{186,142}</string>
			</dict>

			<key>Firework_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,0},{196,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,142}}</string>
				<key>sourceSize</key>
				<string>{196,142}</string>
			</dict>

			<key>Firework_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,794},{176,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,194}}</string>
				<key>sourceSize</key>
				<string>{176,194}</string>
			</dict>

			<key>Firework_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,213},{183,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,194}}</string>
				<key>sourceSize</key>
				<string>{183,194}</string>
			</dict>

			<key>Firework_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,0},{183,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,212}}</string>
				<key>sourceSize</key>
				<string>{183,212}</string>
			</dict>

			<key>Firework_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,698},{186,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,212}}</string>
				<key>sourceSize</key>
				<string>{186,212}</string>
			</dict>

			<key>Firework_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,167},{196,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,212}}</string>
				<key>sourceSize</key>
				<string>{196,212}</string>
			</dict>

			<key>Firework_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,143},{195,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,194}}</string>
				<key>sourceSize</key>
				<string>{195,194}</string>
			</dict>

			<key>Firework_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,0},{186,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,194}}</string>
				<key>sourceSize</key>
				<string>{186,194}</string>
			</dict>

			<key>Firework_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,572},{196,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,194}}</string>
				<key>sourceSize</key>
				<string>{196,194}</string>
			</dict>

			<key>Firework_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,359},{376,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,182}}</string>
				<key>sourceSize</key>
				<string>{376,182}</string>
			</dict>

			<key>Firework_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,748},{183,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,182}}</string>
				<key>sourceSize</key>
				<string>{183,182}</string>
			</dict>

			<key>Firework_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,333},{186,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,182}}</string>
				<key>sourceSize</key>
				<string>{186,182}</string>
			</dict>

			<key>Firework_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,732},{196,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,182}}</string>
				<key>sourceSize</key>
				<string>{196,182}</string>
			</dict>

			<key>Firework_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,167},{376,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,191}}</string>
				<key>sourceSize</key>
				<string>{376,191}</string>
			</dict>

			<key>Firework_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,556},{183,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,191}}</string>
				<key>sourceSize</key>
				<string>{183,191}</string>
			</dict>

			<key>Firework_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,710},{186,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,191}}</string>
				<key>sourceSize</key>
				<string>{186,191}</string>
			</dict>

			<key>Firework_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,380},{196,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,191}}</string>
				<key>sourceSize</key>
				<string>{196,191}</string>
			</dict>

			<key>Firework_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,408},{180,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,189}}</string>
				<key>sourceSize</key>
				<string>{180,189}</string>
			</dict>

			<key>Firework_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,542},{199,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,189}}</string>
				<key>sourceSize</key>
				<string>{199,189}</string>
			</dict>

			<key>Firework_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,143},{187,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,189}}</string>
				<key>sourceSize</key>
				<string>{187,189}</string>
			</dict>

			<key>Firework_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,698},{189,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,189}}</string>
				<key>sourceSize</key>
				<string>{189,189}</string>
			</dict>

			<key>Firework_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,767},{196,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,189}}</string>
				<key>sourceSize</key>
				<string>{196,189}</string>
			</dict>

			<key>Firework_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,598},{177,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{177,195}}</string>
				<key>sourceSize</key>
				<string>{177,195}</string>
			</dict>

			<key>Firework_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,505},{195,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,192}}</string>
				<key>sourceSize</key>
				<string>{195,192}</string>
			</dict>

			<key>Firework_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,362},{183,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,193}}</string>
				<key>sourceSize</key>
				<string>{183,193}</string>
			</dict>

			<key>Firework_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,516},{186,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,193}}</string>
				<key>sourceSize</key>
				<string>{186,193}</string>
			</dict>

			<key>Firework_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,732},{196,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,192}}</string>
				<key>sourceSize</key>
				<string>{196,192}</string>
			</dict>

			<key>Firework_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,516},{176,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,166}}</string>
				<key>sourceSize</key>
				<string>{176,166}</string>
			</dict>

			<key>Firework_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,338},{195,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,166}}</string>
				<key>sourceSize</key>
				<string>{195,166}</string>
			</dict>

			<key>Firework_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,195},{183,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,166}}</string>
				<key>sourceSize</key>
				<string>{183,166}</string>
			</dict>

			<key>Firework_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{388,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{388,166}}</string>
				<key>sourceSize</key>
				<string>{388,166}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>Firework.png</string>
			</dict>
		</dict>
</plist>