<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Blood_Hit_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,100},{59,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,57}}</string>
				<key>sourceSize</key>
				<string>{59,57}</string>
			</dict>

			<key>Blood_Hit_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,288},{67,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,61}}</string>
				<key>sourceSize</key>
				<string>{67,61}</string>
			</dict>

			<key>Blood_Hit_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,389},{75,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,69}}</string>
				<key>sourceSize</key>
				<string>{75,69}</string>
			</dict>

			<key>Blood_Hit_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,100},{94,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,99}}</string>
				<key>sourceSize</key>
				<string>{94,99}</string>
			</dict>

			<key>Blood_Hit_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{103,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,99}}</string>
				<key>sourceSize</key>
				<string>{103,99}</string>
			</dict>

			<key>Blood_Hit_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{109,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,99}}</string>
				<key>sourceSize</key>
				<string>{109,99}</string>
			</dict>

			<key>Blood_Hit_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,288},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,100}}</string>
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>

			<key>Blood_Hit_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,0},{93,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,99}}</string>
				<key>sourceSize</key>
				<string>{93,99}</string>
			</dict>

			<key>Blood_Hit_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{99,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,109}}</string>
				<key>sourceSize</key>
				<string>{99,109}</string>
			</dict>

			<key>Blood_Hit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>Blood_Hit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,389},{90,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,99}}</string>
				<key>sourceSize</key>
				<string>{90,99}</string>
			</dict>

			<key>Blood_Hit_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,200},{99,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,87}}</string>
				<key>sourceSize</key>
				<string>{99,87}</string>
			</dict>

			<key>Blood_Hit_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,410},{99,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,89}}</string>
				<key>sourceSize</key>
				<string>{99,89}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>Blood_Hit.png</string>
			</dict>
		</dict>
</plist>