<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AF_Body_Parts_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{49,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{49,44}}</string>
				<key>sourceSize</key>
				<string>{51,46}</string>
			</dict>

			<key>AF_Body_Parts_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,79},{13,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,14}}</string>
				<key>sourceSize</key>
				<string>{13,15}</string>
			</dict>

			<key>AF_Body_Parts_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,71},{18,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{18,7}}</string>
				<key>sourceSize</key>
				<string>{20,8}</string>
			</dict>

			<key>AF_Body_Parts_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,45},{20,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{20,25}}</string>
				<key>sourceSize</key>
				<string>{22,27}</string>
			</dict>

			<key>AF_Body_Parts_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,94},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,13}}</string>
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>

			<key>AF_Body_Parts_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,108},{9,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{9,10}}</string>
				<key>sourceSize</key>
				<string>{16,12}</string>
			</dict>

			<key>AF_Body_Parts_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,108},{7,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{7,12}}</string>
				<key>sourceSize</key>
				<string>{7,12}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{64,128}</string>
			<key>textureFileName</key>
			<string>AF_Body_Parts.png</string>
			</dict>
		</dict>
</plist>