<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AnoyingFly_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,142},{51,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,46}}</string>
				<key>sourceSize</key>
				<string>{51,46}</string>
			</dict>

			<key>AnoyingFly_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{52,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{52,46}}</string>
				<key>sourceSize</key>
				<string>{52,47}</string>
			</dict>

			<key>AnoyingFly_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,189},{51,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,47}}</string>
				<key>sourceSize</key>
				<string>{51,47}</string>
			</dict>

			<key>AnoyingFly_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{55,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,47}}</string>
				<key>sourceSize</key>
				<string>{55,47}</string>
			</dict>

			<key>AnoyingFly_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,95},{52,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,46}}</string>
				<key>sourceSize</key>
				<string>{52,46}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{64,256}</string>
			<key>textureFileName</key>
			<string>AnoyingFly.png</string>
			</dict>
		</dict>
</plist>