<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Gun_Shot_FX_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,550},{307,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{307,146}}</string>
				<key>sourceSize</key>
				<string>{307,146}</string>
			</dict>

			<key>Gun_Shot_FX_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{382,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{382,119}}</string>
				<key>sourceSize</key>
				<string>{382,119}</string>
			</dict>

			<key>Gun_Shot_FX_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{369,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{369,124}}</string>
				<key>sourceSize</key>
				<string>{369,124}</string>
			</dict>

			<key>Gun_Shot_FX_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,784},{299,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,134}}</string>
				<key>sourceSize</key>
				<string>{299,134}</string>
			</dict>

			<key>Gun_Shot_FX_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,389},{284,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,147}}</string>
				<key>sourceSize</key>
				<string>{284,147}</string>
			</dict>

			<key>Gun_Shot_FX_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,784},{298,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,136}}</string>
				<key>sourceSize</key>
				<string>{298,136}</string>
			</dict>

			<key>Gun_Shot_FX_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,718},{279,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,118}}</string>
				<key>sourceSize</key>
				<string>{279,118}</string>
			</dict>

			<key>Gun_Shot_FX_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,245},{316,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{316,138}}</string>
				<key>sourceSize</key>
				<string>{316,138}</string>
			</dict>

			<key>Gun_Shot_FX_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,384},{316,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{316,165}}</string>
				<key>sourceSize</key>
				<string>{316,165}</string>
			</dict>

			<key>Gun_Shot_FX_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,0},{281,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{281,130}}</string>
				<key>sourceSize</key>
				<string>{281,130}</string>
			</dict>

			<key>Gun_Shot_FX_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,550},{295,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,167}}</string>
				<key>sourceSize</key>
				<string>{295,167}</string>
			</dict>

			<key>Gun_Shot_FX_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,245},{285,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,143}}</string>
				<key>sourceSize</key>
				<string>{285,143}</string>
			</dict>

			<key>Gun_Shot_FX_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,837},{267,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,140}}</string>
				<key>sourceSize</key>
				<string>{267,140}</string>
			</dict>

			<key>Gun_Shot_FX_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,697},{305,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,86}}</string>
				<key>sourceSize</key>
				<string>{305,86}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>Gun_Shot_FX.png</string>
			</dict>
		</dict>
</plist>