<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ChickBouncing_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,686},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,392},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,294},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,196},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,98},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,0},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,882},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,784},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,686},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,588},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,490},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,392},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,294},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,196},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,98},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,882},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,784},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,490},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,588},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,490},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,392},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,294},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,196},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,98},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,0},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,882},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,784},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,686},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,588},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,490},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,392},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,294},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,196},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,98},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>ChickBouncing_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>ChickBouncing.png</string>
			</dict>
		</dict>
</plist>