<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ChickenEater_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,745},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,596},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,447},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,298},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,149},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,0},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,745},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,596},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,447},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,298},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,149},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,0},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,745},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,596},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,447},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,298},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,149},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,0},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,745},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,596},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,447},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,298},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,149},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,0},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,745},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,596},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,447},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,298},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,149},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,0},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,745},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,596},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,447},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,298},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,149},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

			<key>ChickenEater_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>ChickenEater.png</string>
			</dict>
		</dict>
</plist>