<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PanBouncing_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,870},{256,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,144}}</string>
				<key>sourceSize</key>
				<string>{256,144}</string>
			</dict>

			<key>PanBouncing_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,580},{256,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,144}}</string>
				<key>sourceSize</key>
				<string>{256,144}</string>
			</dict>

			<key>PanBouncing_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,435},{256,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,144}}</string>
				<key>sourceSize</key>
				<string>{256,144}</string>
			</dict>

			<key>PanBouncing_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,290},{256,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,144}}</string>
				<key>sourceSize</key>
				<string>{256,144}</string>
			</dict>

			<key>PanBouncing_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,145},{256,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,144}}</string>
				<key>sourceSize</key>
				<string>{256,144}</string>
			</dict>

			<key>PanBouncing_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,0},{256,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,144}}</string>
				<key>sourceSize</key>
				<string>{256,144}</string>
			</dict>

			<key>PanBouncing_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,725},{256,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,144}}</string>
				<key>sourceSize</key>
				<string>{256,144}</string>
			</dict>

			<key>PanBouncing_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,725},{256,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,144}}</string>
				<key>sourceSize</key>
				<string>{256,144}</string>
			</dict>

			<key>PanBouncing_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,580},{256,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,144}}</string>
				<key>sourceSize</key>
				<string>{256,144}</string>
			</dict>

			<key>PanBouncing_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,435},{256,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,144}}</string>
				<key>sourceSize</key>
				<string>{256,144}</string>
			</dict>

			<key>PanBouncing_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,290},{256,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,144}}</string>
				<key>sourceSize</key>
				<string>{256,144}</string>
			</dict>

			<key>PanBouncing_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,145},{256,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,144}}</string>
				<key>sourceSize</key>
				<string>{256,144}</string>
			</dict>

			<key>PanBouncing_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{256,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,144}}</string>
				<key>sourceSize</key>
				<string>{256,144}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>PanBouncing.png</string>
			</dict>
		</dict>
</plist>