<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>RockTutorial_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,816},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,680},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,544},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,408},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,272},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,136},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,0},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,816},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,680},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,544},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,408},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,272},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,136},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,0},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,816},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,680},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,544},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,408},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,272},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,136},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,0},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,816},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,680},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,544},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,408},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,272},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,136},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,0},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,816},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,680},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,544},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,408},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,272},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,136},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,0},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,816},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,680},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,544},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,408},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,272},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,136},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

			<key>RockTutorial_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{295,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,135}}</string>
				<key>sourceSize</key>
				<string>{295,135}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>RockTutorial.png</string>
			</dict>
		</dict>
</plist>