<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TNTExplode_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,780},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,468},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,312},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,156},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,0},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,780},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,624},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,468},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,312},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,156},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,0},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,624},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,624},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,468},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,312},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,156},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,0},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,780},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,624},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,468},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,312},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,156},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

			<key>TNTExplode_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{276,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,155}}</string>
				<key>sourceSize</key>
				<string>{276,155}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>TNTExplode.png</string>
			</dict>
		</dict>
</plist>