<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Portal_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,314},{68,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,158}}</string>
				<key>sourceSize</key>
				<string>{68,158}</string>
			</dict>

			<key>Portal_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,314},{66,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,154}}</string>
				<key>sourceSize</key>
				<string>{66,154}</string>
			</dict>

			<key>Portal_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{67,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,158}}</string>
				<key>sourceSize</key>
				<string>{67,158}</string>
			</dict>

			<key>Portal_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,161},{67,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,160}}</string>
				<key>sourceSize</key>
				<string>{67,160}</string>
			</dict>

			<key>Portal_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,322},{67,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,158}}</string>
				<key>sourceSize</key>
				<string>{67,158}</string>
			</dict>

			<key>Portal_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,159},{68,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,154}}</string>
				<key>sourceSize</key>
				<string>{68,154}</string>
			</dict>

			<key>Portal_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,320},{67,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,158}}</string>
				<key>sourceSize</key>
				<string>{67,158}</string>
			</dict>

			<key>Portal_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,0},{67,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,160}}</string>
				<key>sourceSize</key>
				<string>{67,160}</string>
			</dict>

			<key>Portal_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,161},{67,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,158}}</string>
				<key>sourceSize</key>
				<string>{67,158}</string>
			</dict>

			<key>Portal_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,0},{66,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,154}}</string>
				<key>sourceSize</key>
				<string>{66,154}</string>
			</dict>

			<key>Portal_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,161},{67,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,158}}</string>
				<key>sourceSize</key>
				<string>{67,158}</string>
			</dict>

			<key>Portal_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,0},{68,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,160}}</string>
				<key>sourceSize</key>
				<string>{68,160}</string>
			</dict>

			<key>Portal_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{68,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,158}}</string>
				<key>sourceSize</key>
				<string>{68,158}</string>
			</dict>

			<key>Portal_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,159},{66,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,154}}</string>
				<key>sourceSize</key>
				<string>{66,154}</string>
			</dict>

			<key>Portal_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,320},{67,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,158}}</string>
				<key>sourceSize</key>
				<string>{67,158}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>Portal.png</string>
			</dict>
		</dict>
</plist>